<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cuit.app.mapper.RelationshipMapper">
    <select id="getBinder" resultType="int">
        select guardian from t_relationship where elderly=#{id}
    </select>

    <select id="getElderly" resultType="int">
        select elderly from t_relationship where guardian=#{id}
    </select>
</mapper>
